<% content_for :title, "Archives" %>

<section class="archives-page">
  <div id="archives" class="archives-container">
    <%= render partial: 'archive', collection: @archives, as: :archive, locals: { character_id: Current.character.id } %>
    <%= render partial: 'archive', collection: @archives, as: :archive, locals: { character_id: Current.character.id } %>
    <%= render partial: 'archive', collection: @archives, as: :archive, locals: { character_id: Current.character.id } %>
    <%= render partial: 'archive', collection: @archives, as: :archive, locals: { character_id: Current.character.id } %>
    <%= render partial: 'archive', collection: @archives, as: :archive, locals: { character_id: Current.character.id } %>
    <%= link_to "New archive", new_app_archive_path, class: "button" %>
  </div>
</section>
