<p style="color: green"><%= notice %></p>

<%= render @app_archive %>

<div>
  <%= link_to "Edit this archive", edit_app_archive_path(@app_archive) %> |
  <%= link_to "Back to archives", app_archives_path %>

  <%= button_to "Destroy this archive", @app_archive, method: :delete %>
</div>
